/* payment.module.css */

/* Page Title Styling */
.pageTitle {
    font-size: 1.8rem;
    font-weight: bold;
  
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Filters Section */
  .filterGroup {
    width: 900px;
    margin-right: 10px;
  }
  
  .filter {
    display: inline-block;
    width: auto;
    margin-left: 10px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 14px;
  }
  
  /* Table Styling */
  .table {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .table th {
    background-color: #f8f9fa;
    color: #555;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  
  .table td {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Button Styling */
  .button {
    font-size: 14px;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button:focus {
    outline: none;
  }
  
  .buttonInfo {
    background-color: #ff0080;
    color: white;
  }
  
  .buttonInfo:hover {
    background-color: #ff6b81a5;
  }
  
  .buttonDanger {
    background-color: #ff0019;
    color: white;
  }
  
  .buttonDanger:hover {
    background-color: #a71d2a;
  }
  

  .button:disabled {
    background-color: #ffcccc;
    color: #212121;
    cursor: not-allowed;
  }
  
  /* Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .paginationItem {
    list-style: none;
    margin: 0 5px;
  }
  
  .paginationButton {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: white;
    color: #007bff;
    cursor: pointer;
  }
  
  .paginationButton:hover {
    background-color: #007bff;
    color: white;
  }
  
  .paginationActive .paginationButton {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  
  /* Modal Styling */
  .modalHeader {
    background-color: #f8f9fa;
    color: #333;
    border-bottom: 1px solid #ddd;
  }
  
  .modalTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .modalBody {
    padding: 20px;
    line-height: 1.6;
  }
  
  .modalText {
    margin: 5px 0;
  }
  