/* General Page Styling */
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.pageTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


/* Payment Card Styling */
.paymentCard {
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: white;
}


/* Card Header */
.paymentHeader {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  background: #f8f9fa;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}
.refundText {
  font-size: 1.1rem;
  margin-top: 10px;
}

/* Payment Details */
.paymentText {
  font-size: 16px;
  margin-bottom: 10px;
  color: #444;
  display: flex;
  justify-content: space-between;
}

.paymentText strong {
  color: #212121;
}

/* Refund Status Styling */
.refundStatus {
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 5px;
  display: inline-block;
}

.refundPending {
  background-color: #ffcc00;
  color: #212121;
}

.refundProcessed {
  background-color: #28a745;
  color: white;
}

.notEligible {
  background-color: #dc3545;
  color: white;
}

/* Buttons */
.button {
  font-size: 15px;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.buttonRefund {
  background: #ff0099;
  color: white;
  outline: none;
  border: none;
}

.buttonRefund:hover ,.buttonRefund:active, .buttonRefund:focus {
  background: #a71d2a !important;
}
.buttonPink {
  background-color: #ff1493; /* Hot Pink */
  border: 1px solid #ff1493;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

.buttonPink:hover {
  background-color: #e60073; /* Darker Pink */
  border-color: #e60073;
}


/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
  
  .paymentCard {
    padding: 15px;
  }
  
  .paymentText {
    font-size: 14px;
  }

  .button {
    font-size: 14px;
    padding: 6px 12px;
  }
}
