/* [project]/src/styles/Sidebar.module.css [client] (css) */
.Sidebar-module__HPbxHa__sidebar {
  background-color: #1f1f2f;
  color: #fff;
  width: 250px;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  transition: width .3s;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 1010;
}

.Sidebar-module__HPbxHa__sidebar.Sidebar-module__HPbxHa__collapsed {
  width: 80px;
}

.Sidebar-module__HPbxHa__navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Sidebar-module__HPbxHa__navItem {
  margin: 0;
}

.Sidebar-module__HPbxHa__navLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  transition: background-color .3s;
}

.Sidebar-module__HPbxHa__navLink:hover {
  background-color: #a5152a;
}

.Sidebar-module__HPbxHa__navLink span {
  margin-left: 10px;
  flex-grow: 1;
}

.Sidebar-module__HPbxHa__sidebar.Sidebar-module__HPbxHa__collapsed .Sidebar-module__HPbxHa__navLink span {
  display: none;
}

.Sidebar-module__HPbxHa__navItem.Sidebar-module__HPbxHa__active .Sidebar-module__HPbxHa__navLink {
  background-color: #ff6b81;
}

.Sidebar-module__HPbxHa__navItem.Sidebar-module__HPbxHa__activeSub .Sidebar-module__HPbxHa__navLink {
  background-color: #ffa7b3;
}

.Sidebar-module__HPbxHa__arrow {
  font-size: 12px;
}

.Sidebar-module__HPbxHa__subNavList {
  padding: 0 20px;
}

.Sidebar-module__HPbxHa__subNavList .Sidebar-module__HPbxHa__navLink {
  font-size: 14px;
  color: #fff;
  transition: background-color .3s;
}

.Sidebar-module__HPbxHa__subNavList .Sidebar-module__HPbxHa__navLink:hover {
  background-color: #a5152a;
  color: #cbcbcb;
}

@media (width <= 1024px) {
  .Sidebar-module__HPbxHa__sidebar {
    width: 80px;
  }

  .Sidebar-module__HPbxHa__sidebar.Sidebar-module__HPbxHa__collapsed {
    display: flex;
    width: 60px;
  }

  .Sidebar-module__HPbxHa__navLink {
    padding: 12px;
  }

  .Sidebar-module__HPbxHa__navLink span {
    font-size: 12px;
  }
}

@media (width <= 768px) {
  .Sidebar-module__HPbxHa__sidebar {
    display: none;
  }

  .Sidebar-module__HPbxHa__sidebar.Sidebar-module__HPbxHa__collapsed {
    display: flex;
    width: 60px;
  }
}


/* [project]/src/styles/Header.module.css [client] (css) */
.Header-module__KppamW__navbar {
  background-color: #1f1f2f;
  padding: 10px 15px;
  width: 100%;
  z-index: 1030;
  transition: padding .3s;
}

.Header-module__KppamW__navbarCollapsed {
  width: 100%;
}

.Header-module__KppamW__navIcon {
  margin-left: 10px;
  color: #fff !important;
}

.Header-module__KppamW__navIcon:hover, .Header-module__KppamW__navIcon:focus, .Header-module__KppamW__navIcon:active {
  color: #e91e63 !important;
}

.Header-module__KppamW__toggleButton {
  background-color: #0000;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
  display: flex;
  margin-left: 10%;
  transition: margin-left .3s, font-size .3s;
}

.Header-module__KppamW__toggleIcon {
  color: #fffcfd;
}

.Header-module__KppamW__toggleIconCollapsed {
  color: #ff7c7c;
}

.Header-module__KppamW__searchInput {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.Header-module__KppamW__mobileSearchForm {
  width: 100%;
  padding: 10px 0;
}

@media (width <= 768px) {
  .Header-module__KppamW__logo img {
    width: 40px;
    height: 15px;
  }

  .Header-module__KppamW__searchForm {
    display: none;
  }

  .Header-module__KppamW__mobileSearchForm {
    display: flex;
  }

  .Header-module__KppamW__navbar {
    padding: 8px 10px;
  }

  .Header-module__KppamW__navbar .Header-module__KppamW__navbar-collapse {
    padding-top: 10px;
  }

  .Header-module__KppamW__navIcon {
    margin-left: 5px;
  }

  .Header-module__KppamW__brand {
    font-size: 16px;
  }

  .Header-module__KppamW__toggleButton {
    margin-left: 5%;
    font-size: 16px;
  }
}

@media (width <= 576px) {
  .Header-module__KppamW__logo img {
    width: 35px;
    height: 12px;
  }

  .Header-module__KppamW__toggleButton {
    margin-left: 3%;
    font-size: 14px;
  }

  .Header-module__KppamW__navIcon {
    font-size: 18px;
  }

  .Header-module__KppamW__brand {
    font-size: 14px;
  }
}

@media (width >= 1921px) {
  .Header-module__KppamW__toggleButton {
    margin-left: 6%;
    font-size: 20px;
  }

  .Header-module__KppamW__navbar {
    padding: 15px 20px;
  }

  .Header-module__KppamW__logo img {
    width: 60px;
    height: 25px;
  }

  .Header-module__KppamW__navIcon {
    font-size: 20px;
    margin-left: 15px;
  }
}

.Header-module__KppamW__navbarToggler {
  color: #fff;
  border: none;
}

.Header-module__KppamW__brand {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.Header-module__KppamW__logo {
  padding: 10px;
  text-align: center;
}

.Header-module__KppamW__logo img {
  width: 50px;
  height: 20px;
  transition: width .3s;
}

.Header-module__KppamW__logoCollapsed img {
  width: 40px;
}


/* [project]/src/styles/Layout.module.css [client] (css) */
.Layout-module__zaQHFq__layout {
  display: flex;
  min-height: 100vh;
}

.Layout-module__zaQHFq__mainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: all .3s ease-in-out;
  min-height: 100vh;
}

.Layout-module__zaQHFq__mainContentExpanded {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.Layout-module__zaQHFq__sidebarCollapsed .Layout-module__zaQHFq__mainContent {
  margin-left: 0;
  width: 100%;
}

.Layout-module__zaQHFq__content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 50px;
}


/* [project]/src/styles/PaginationComponent.module.css [client] (css) */
.PaginationComponent-module__F9eDqW__paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.PaginationComponent-module__F9eDqW__rangeDisplay {
  color: #555;
}

.PaginationComponent-module__F9eDqW__paginationControls {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f0f0f0;
  border-radius: 50px;
  padding: 2px 0;
}

.PaginationComponent-module__F9eDqW__pageButton, .PaginationComponent-module__F9eDqW__pageNumber {
  border: none;
  background: none;
  color: #272727;
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: all .3s;
}

.PaginationComponent-module__F9eDqW__pageButton:hover, .PaginationComponent-module__F9eDqW__pageNumber:hover {
  background-color: #ea75a7c4;
  color: #000;
  transform: scale(.8);
  transition: all .3s ease-in-out;
}

.PaginationComponent-module__F9eDqW__pageNumber.PaginationComponent-module__F9eDqW__active {
  background-color: #cc0991dc;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 4px 8px #d6d6d6ca;
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.PaginationComponent-module__F9eDqW__pageNumber.PaginationComponent-module__F9eDqW__active:hover {
  background-color: #cc099199;
  color: #fff;
  transform: scale(.8);
  box-shadow: 0 4px 8px #d6d6d6ca;
}

.PaginationComponent-module__F9eDqW__pageButton.PaginationComponent-module__F9eDqW__disabled {
  color: #ccc;
  cursor: not-allowed;
}

.PaginationComponent-module__F9eDqW__pageButton.PaginationComponent-module__F9eDqW__disabled:hover {
  background: none;
}

.PaginationComponent-module__F9eDqW__pageNumbers {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.PaginationComponent-module__F9eDqW__pageNumbers > .PaginationComponent-module__F9eDqW__pageNumber {
  min-width: 36px;
  text-align: center;
}


/* [project]/src/styles/category.module.css [client] (css) */
.category-module__hsh_yW__pageTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.category-module__hsh_yW__tableHeader th {
  cursor: pointer;
  user-select: none;
}

.category-module__hsh_yW__table th, .category-module__hsh_yW__table td {
  text-align: center;
  padding: 12px;
}

.category-module__hsh_yW__statusBadge {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.category-module__hsh_yW__statusBadge.category-module__hsh_yW__active {
  background-color: #4caf50;
  color: #fff;
}

.category-module__hsh_yW__statusBadge.category-module__hsh_yW__inactive {
  background-color: #f44336;
  color: #fff;
}

.category-module__hsh_yW__actionButton {
  font-size: 12px;
  margin-right: 5px;
}

.category-module__hsh_yW__table-responsive {
  overflow-x: auto;
}

.category-module__hsh_yW__modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.category-module__hsh_yW__modalBody {
  padding: 1.5rem;
}

.category-module__hsh_yW__formLabel {
  font-weight: 600;
  color: #555;
}

.category-module__hsh_yW__formControl {
  border-radius: .25rem;
  padding: 10px;
  font-size: 1rem;
}

.category-module__hsh_yW__formSelect {
  border-radius: .25rem;
  padding: 10px;
  font-size: 1rem;
}

.category-module__hsh_yW__modalFooter {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.category-module__hsh_yW__addButton {
  background-color: #fff;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

.category-module__hsh_yW__cancelButton {
  background-color: #6c757d;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

.category-module__hsh_yW__addButton:hover, .category-module__hsh_yW__cancelButton:hover {
  opacity: .9;
}

.category-module__hsh_yW__filterDropdown .category-module__hsh_yW__dropdown-toggle {
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 6px;
  transition: all .3s ease-in-out;
}

.category-module__hsh_yW__filterDropdown .category-module__hsh_yW__dropdown-toggle:hover {
  background: #fbb;
  border-color: #ffd6d6;
}

.category-module__hsh_yW__customAddBtn {
  background: #ff6b81;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  transition: all .3s ease-in-out;
  border: none;
}

.category-module__hsh_yW__customAddBtn:hover, .category-module__hsh_yW__customAddBtn:focus, .category-module__hsh_yW__customAddBtn:active {
  background: #e04f72;
  transform: scale(1.05);
}


/*# sourceMappingURL=src_styles_ad1422._.css.map*/
